<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../js/jquery-confirm/css/jquery-confirm.css" />
	</head>
	<body>
	</body>
	<script type="text/javascript" src="../js/jquery/jquery.js"></script>
	<script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/jquery-confirm/js/jquery-confirm.js"></script>
	<script type="text/javascript">
		$.confirm({
		    theme: 'supervan',
		    title: '请先登录',
    		content: '抱歉，只有登录后才能访问该页面哦',
    		buttons: {
                    ok: {
                        text: "去登录",
                        keys: ['enter'],
                        action: () => {
                            window.location.href = '/';
                        }
                    }
           	},
		});
		
	</script>
</html>

